html {
  box-sizing: border-box;
  background-color: #F0E68C;
   }

body {
     background-color: lightcoral;
     color: blue;
     margin-bottom: 20px;
     padding-bottom: 20px;
}
ol {
     color: green;
   }
.section2 {
 background-color: lightblue;

}
.section3 {
 background-color: lightgreen;
 border: 2px solid gray;
}
#formheadline {
  padding-left: 30px;
}
.section4 {
  background-color: pink;
  color:purple;
  border: 1px solid green;
}
.section1 {
  background-color: lightcoral;

}
h1 {
  color: darkgreen;
}
h2 {
  color: purple;
}
.highlight {
  color: darkgreen;
  background-color: yellow;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
div {
  padding: 5px 10px 5px 10px;
  margin: 10px;
}
.mediawelcome {
  color: purple;
  font-weight: bold;
}


h3 {
  color: blue;
}
.bodystyle {
  background-color: lightcoral;

}



p{
  color: green;
  }

#main {
  color: crimson;
}
.name {
  color: darkgreen;
}
.funfacts {
  color: purple;
}
input, option, textarea, option, optgroup {
  background-color: peachpuff;

}
/* label, optgroup, select {
  background-color: palegoldenrod;
*/


.labelcolor {
  color: purple;
}


textarea {
  width: 250px;
  height: 300px;
}
#headerarea {
  margin-top: 1.3em;
}


.navigation > ul > li > ul > li {


list-style: none;

}
.navigation > ul > li {
  position: relative;
  display: inline;
  list-style: none;

}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  margin-bottom: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  position: absolute;
  top: 1em;
  right: 0;
  display: none;
  width: 100px;
  background-color: lightyellow;
  border: 3px purple solid;
  padding: 10px;
}

.navigation a:hover + .dropdown {
  display: block;

  background-color: lightyellow;


}
.dropdown:hover .dropdown-content {
  display: block;

}

.navigation li >  ul.container {
  //these styles will extend the styles already contained in the .container class
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
